// .container-fluid, .super{
// 	background-color: rgb(47, 116, 194) !important;
// }


.addLabel {
	width: 10em !important;
	background-color: dimgrey;
	margin-top: 0.8em;
}
.controledWidth{
margin-top: 5em;
}
.fas {
	margin-left: 1em;
}
